<div class="todo-container">
  <div class="alert alert-warning alert-dismissible" role="alert" *ngIf="warning">
      <strong>Warning!</strong> {{ message }}
  </div>

  <h1 class="todo-title">
    {{title}}<br>
    <span>Your location is: <span>{{center}}, {{zoom}}</span></span>
  </h1>

  <a class="huge exhibit" href="#">DO YOU WANT TO EXHIBIT HERE?</a>

  <a class="huge see" href="#">DO YOU WANT TO SEE THE EXHIBITION?</a>


  <form class="todo-form"
        (submit)="add(todoForm.todoMessage)">
    <p>Please fill in the form and upload your work here. Every work uploaded will be accepeted and exhibited inmmediately.</p>

    
    <label for="artist">
      *Name of the artist:
          <input id="artist" type="text"
           name="todoMessage"
           [(ngModel)]="todoForm.todoMessage"
                      />
    </label>
    <label for="artwork">
      *Title of the artwork:
          <input id="artwork" type="text"
           name="todoArtwork"
           [(ngModel)]="todoForm.todoArtwork"
                      />
    </label>

    <label for="artist">
      *Name of the artist:
          <input id="artist" type="text"
           name="todoArtist"
           [(ngModel)]="todoForm.todoArtist"
                      />
    </label>

    <label for="date">
      *Date:
          <input id="date" type="number"
           name="todoDate"
           placeholder="YYYY" 
           [(ngModel)]="todoForm.todoDate"
                      />
    </label>

    <label for="medium">
      Medium:
          <input id="medium" type="text"
           name="todoMedium"
           [(ngModel)]="todoForm.todoMedium"
            />
    </label>

    <label for="size">
      Size:
          <input id="size" type="text"
           name="todoSize"
           [(ngModel)]="todoForm.todoSize"
            />
    </label>

    <label for="email">
      E-mail:
          <input id="email" type="email"
           name="todoEmail"
           [(ngModel)]="todoForm.todoEmail"
                      />
    </label>

    <div id="tyc">
      <h3>EXHIBITION TERMS AND CONDITIONS</h3>


      <ol>
        <h4>GENERAL</h4>

        <li>The unauthorized SFMOMA exhibition will exercise the same care with respect to the work of art referred to on the application submission form as it does in the safekeeping of its own property.</li>
        <li>The artwork will remain in the exhibition from the moment of its submission until this same exhibition comes to an end, being three months the maximum time for an artwork’s exhibition. The exact exhibition period is unknown by unauthorized SFMOMA staff as well as the submitter and will solely depend on the number of submissions received.</li>
        <li>The submitter accepts the conditions of this exhibition as stated on these terms and warrants that she/he have full authorization to enter into this exhibition.</li>

        <h4>PUBLICITY AND PHOTOGRAPHY</h4>

        <li>It is understood that unauthorized SFMOMA exhibition staff has the right to photograph or digitally store this artwork for the solely purpose of documentation record and catalog reproduction.</li>

        <li>In the future case of a catalogue publication and/or public presentation of the exhibition documentation, all work will be accompany by its caption (artist name, artwork title, date, medium and dimensions) exactly as stated in the submission application.</li>

        <h4>RETURN AND INSTALL</h4>

        <li>Work will not be returned to the submitter address at the end of the exhibition, unless otherwise requested by the submitter in writing.</li>

        <li>Unauthorized SFMOMA exhibition is not responsible for any damaged produced to the artwork during its installation or exhibition. The submitter understands that special handling and installation instructions won’t be take into consideration.</li>

        <h4>INSURANCE</h4>

        <li>Unauthorized SFMOMA exhibitions will not insure the artwork submitted under any fine arts policy against any risk of digital loss, damage or theft by any external cause while in transit or in location during the period of the exhibition.</li>

        <h4>CONSERVATION</h4>

        <li>It is understood that unauthorized SFMOMA exhibition (or any participating institution/museum) will not</li>

      </ol>
    </div>

    <button type="submit"
            [disabled]="!todoForm.todoMessage.length">UPLOAD</button>
  </form>

  <div class="todo-list">
    <div class="todo-item">
         <h1>UNAUTHORIZED SFMOMA SHOW # 1:</h1>
         <div class="art">
          <h2>Artist Name</h2>
          <h3>Design del website, 2017</h3>
          <h4>Art Medium</h4>
          <img src="//placehold.it/800x600">
          <img src="//placehold.it/800x600">
          <p>{{todo.todoMessage}}</p>
         </div>
    </div>
  </div>
</div>
