<div [class.submiting]="submiting"
     [class.viewing]="viewing" 
     [class.menuopen]="menuopen"
     class="todo-container">

  <h1 [class.shadow]="menuopen || about || isClassVisible" class="todo-title"><span (click)="reset()">{{title}}</span> <a id="nav-toggle" href="#" (click)="togglemenu()"><span></span></a></h1>

  <nav id="hamburger-menu" *ngIf="menuopen">
    <ul>
      <li><a (click)="abouttoggle()" href="#">About</a></li>
      <li><a (click)="pasttoggle()" href="#">Current and Past Exhibitions</a></li>
      <li><a (click)="view()" href="#">I want to see the exhibition</a></li>
      <li><a (click)="submit()" href="#">I want to have an unauthorized sfmoma show</a></li>
    </ul>
  </nav>

  <div class="about_page" *ngIf="about">
    <div class="inner">
      <h3>What is Unauthorized SFMOMA Show</h3>
      <p>Unauthorized SFMOMA Show is a series of solo shows that take place within SFMOMA’s  public spaces from April 6th - July 2nd on a rotating basis. Similar to SFMOMA’s mission statement, Unauthorized SFMOMA Show is dedicated to making the art for our time a vital and meaningful part of public life. Unauthorized SFMOMA Show is also guided by our commitment to fostering creativity and embracing new ways of seeing the world and the institutions that aim to represent it. To fulfill this goal, we have created a space where to exhibit and share the artwork that everybody wants to see exhibited and shared.</p>

      <h3>How to exhibit work</h3>
      <p>In order to participate in the exhibition go to "I WANT TO HAVE AN UNAUTHORIZED SFMOMA SHOW", fill in the form, upload your work in digital format (.jpg, .png or .gif) and press "SUBMIT". All works are immediately accepted, each submission automatically constituting an Unauthorized SFMOMA Solo Show on view at SFMOMA via the same website ( http://sfmoma.show ). Each exhibition starts when a work is submitted and ends when a new work is submitted. There are NO application or exhibition fees.</p>

      <h3>How to visit the exhibition</h3>
      <p>Unauthorized SFMOMA Shows take place at SFMOMA’s public spaces via http://sfmoma.show and thus, the only requirement to visit Unauthorized SFMOMA Shows is to be physically present at SFMOMA and have access to a device that can connect to the Internet. Once there, go to http://sfmoma.show to see the show (please, allow location access to Unauthorized SFMOMA Show in order to confirm your location). Note that public spaces at SFMOMA don't require ticket and thus Unauthorized SFMOMA Shows are free to visit.</p>

      <h3>Catalog</h3>
      <p>A catalog featuring all Unauthorized SFMOMA Shows will be printed in summer 2017.</p>

      <h3>Contact</h3>
      <p>If you have any questions and/or comments please don’t hesitate to contact us at <a href="mailto:unauthorized@sfmoma.show">unauthorized@sfmoma.show</a></p>

      <h3>Follow us</h3>
      <p>In <a href="https://www.facebook.com/Unauthorized-SFMOMA-Show-275989972854131/" target="_blank">Facebook</a>, <a href="https://twitter.com/unsfmomashow" target="_blank">Twitter</a>, <a href="https://www.instagram.com/unauthorizedsfmomashow/" target="_blank">Instagram</a></p>
    </div>
  </div>

  <div class="currentpast" *ngIf="currentpast">
    <div class="inner">
      <h1>CURRENT:</h1>
      <article>
        <h1>UNAUTHORIZED SFMOMA SHOW #{{count}}</h1>
        <h2>{{item?.todoMessage}}</h2>
        <h3>{{item?.todoArtwork}}<span *ngIf="item?.todoDate">, {{item?.todoDate}}</span></h3>
        <h4 *ngIf="item?.todoMedium">{{item?.todoMedium}} <span *ngIf="item?.todoSize">({{item?.todoSize}})</span></h4>
        <h5>On view from {{item?.createdAt | date:'medium'}} through now.</h5>
      </article>
      <hr>
      <h1>PAST:</h1>
      <article *ngFor="let artwork of all; let i = index; ">
        <h1>UNAUTHORIZED SFMOMA SHOW #{{count - i - 1}}</h1>
        <h2>{{artwork?.todoMessage}}</h2>
        <h3>{{artwork?.todoArtwork}}<span *ngIf="artwork?.todoDate">, {{artwork?.todoDate}}</span></h3>
        <h4>{{artwork?.todoMedium}} <span *ngIf="artwork?.todoSize">({{artwork?.todoSize}})</span></h4>
        <h5>On view from {{artwork?.createdAt | date:'medium'}} through {{artwork?.prev?.createdAt | date:'medium'}}</h5>
      </article>
    </div>
  </div>

  <div class="huge about" *ngIf="viewing && !submiting && !inmoma">

    <p class="conditional" *ngIf="warning">
      {{message || 'Please, allow location access to Unauthorized SFMOMA Show in order to confirm that you are currently at SFMOMA.'}}
    </p>

    <p class="conditional" *ngIf="!inmoma && located">You have to be at SFMOMA to visit this exhibition. Unfortunately, it looks like you are currently at: {{center}}, which is {{distance}} km away.</p>

  </div>

  <form class="todo-form"
        *ngIf="submiting" 
        (submit)="add(todoForm)">

    <p>Please fill in the form and upload your work here. Every work uploaded will be accepted and exhibited inmmediately. If you have any questions please don't hesitate to contact us: <a href="mailto:unauthorized@sfmoma.show">unauthorized@sfmoma.show</a></p>

    <p><span class="red">* Mandatory fields</span></p>
    
    <label for="artist">
      <span class="red">*</span>Name of the artist:<br>
          <input id="artist" class="text-input" type="text"
           name="todoMessage" required
           [(ngModel)]="todoForm.todoMessage"
                      />
    </label>
    <label for="artwork">
      <span class="red">*</span>Title of the artwork:<br>
          <input id="artwork" class="text-input" type="text"
           name="todoArtwork" required
           [(ngModel)]="todoForm.todoArtwork"
                      />
    </label>
    <label for="date">
      <span class="red">*</span>Date of the artwork:<br>
          <input id="date" class="number-input" type="number"
           name="todoDate"
           placeholder="YYYY" required
           [(ngModel)]="todoForm.todoDate"
                      />
    </label>
    <label for="medium">
      Medium: <small>(not mandatory)</small><br>
          <input id="medium" class="text-input" type="text"
           name="todoMedium"
           [(ngModel)]="todoForm.todoMedium"
            />
    </label>
    <label for="size">
      Dimensions/duration: <small>(not mandatory)</small><br>
          <input id="size" class="text-input" type="text"
           name="todoSize"
           [(ngModel)]="todoForm.todoSize"
            />
    </label>
    <label for="artist">
      Name of the applicant (if different than name of the artist):<br>
          <input id="artist" class="text-input" type="text"
           name="todoArtist"
           [(ngModel)]="todoForm.todoArtist"
                      />
    </label>
    <label for="email">
      E-mail: <small>(not mandatory)</small><br>
          <input id="email" class="text-input" type="email"
           name="todoEmail"
           [(ngModel)]="todoForm.todoEmail"
                      />
    </label>
    <label for="file">
      <span class="red">*</span>File:<br> <small class="red" *ngIf="toobig">The file you selected is too big. Maximum file size allowed is 2MB.</small>
          <input id="file" class="text-input" type="file" accept="image/*" 
           (change)="fileEvent($event)" required
                      />
    </label>

    <button type="submit" [disabled]="!file || toobig || adding">UPLOAD</button>

    <div id="tyc">
      <h3>SHOW TERMS AND CONDITIONS</h3>


      <ol>
        <h4>GENERAL</h4>

        <li>The Unauthorized SFMOMA show will exercise the same care with respect to the work of art referred to on the application submission form as it does in the safekeeping of its own property.</li>
        <li>The artwork will remain in the exhibition from the moment of its submission until this same exhibition comes to an end, being three months the maximum time for an artwork’s exhibition. The exact exhibition period is unknown by unauthorized SFMOMA staff as well as the submitter and will solely depend on the number of submissions received.</li>
        <li>The submitter accepts the conditions of this exhibition as stated on these terms and warrants that she/he have full authorization to enter into this exhibition.</li>

        <h4>PUBLICITY AND PHOTOGRAPHY</h4>

        <li>It is understood that Unauthorized SFMOMA show staff has the right to photograph or digitally store this artwork for the solely purpose of documentation record and catalog reproduction.</li>

        <li>In the future case of a catalogue publication and/or public presentation of the exhibition documentation, all work will be accompany by its caption (artist name, artwork title, date, medium and dimensions) exactly as stated in the submission application.</li>

        <h4>RETURN AND INSTALL</h4>

        <li>Work will not be returned to the submitter address at the end of the exhibition, unless otherwise requested by the submitter in writing.</li>

        <li>Unauthorized SFMOMA show is not responsible for any damaged produced to the artwork during its installation or exhibition. The submitter understands that special handling and installation instructions won’t be taken into consideration.</li>

        <h4>INSURANCE</h4>

        <li>Unauthorized SFMOMA shows will not insure the artwork submitted under any fine arts policy against any risk of digital loss, damage or theft by any external cause while in transit or in location during the period of the exhibition.</li>

        <h4>CONSERVATION</h4>

        <li>It is understood that Unauthorized SFMOMA show (or any participating institution/museum) will not clean, restore, or otherwise alter the work without the consent of the submitter.</li>

      </ol>
    </div>

  </form>

  <div class="todo-list" *ngIf="inmoma && viewing">
    <div class="todo-item">
         <h1>UNAUTHORIZED SFMOMA SHOW #{{count}}:</h1>
         <div class="art">
          <h2>{{item?.todoMessage}}</h2>
          <h3>{{item?.todoArtwork}}, {{item?.todoDate}}</h3>
          <h4 *ngIf="item?.todoSize">{{item?.todoSize}}</h4>
          <h5 *ngIf="item?.todoMedium">{{item?.todoMedium}}</h5>

          <div class="art-holder" id="art-detail">
            <img src="{{item?.file_url}}">
          </div>

          <div class="art-holder" id="art-place">
            <img src="{{item?.file_url}}">
          </div>

          <p>On view from {{item?.createdAt | date:'medium'}} through now.</p>
          
          <p>If you have any questions please don't hesitate to contact us: <a href="mailto:unauthorized@sfmoma.show">unauthorized@sfmoma.show</a></p>
         </div>
    </div>
  </div>

  <a (click)="submit()" class="huge exhibit" href="#" *ngIf="!submiting && !about && !currentpast">I WANT TO HAVE AN UNAUTHORIZED SFMOMA SHOW</a>

  <a (click)="view()" class="huge see" href="#" *ngIf="!viewing && !about && !currentpast">I WANT TO VISIT THE CURRENT UNAUTHORIZED SFMOMA SHOW</a>
</div>
