$primary-color: #fc4a42;

.about_page {
  background-color: #fff;
  color: #000;
  padding: 2em 0;
  .inner {
    max-width: 720px;
    margin: 0 auto;
    text-align: left;

    h3 {
      margin-bottom: 0em;
    }

    p {
      margin-top: 0;
    }
  }
}

.currentpast {
  background-color: #fff;
  padding: 2em 0;
  .inner {
    max-width: 720px;
    margin: 0 auto;
    text-align: left;

    article {
      margin-bottom: 2em;
      h1 {
        color: #000;
      }
    }

    h1, h5 {
      color: $primary-color;
    }

    
    h1, h2, h3, h4, h5 {
      margin: 0;
    }

    hr {
      width: 10px;
      display: inline-block;
    }
  }
}

#nav-toggle { position: absolute; right: 20px; top: 10px; display: block;
width: 35px; height: 45px;}
#nav-toggle span { position: absolute; right: 0px; top: 25px; }

#nav-toggle span, 
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 2px;
  width: 35px;
  background: $primary-color;
  position: absolute;
  display: block;
  content: '';
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px; 
}

#hamburger-menu {
  background-color: #fff;
  border-left: 8px solid $primary-color;
  border-right: 8px solid $primary-color;
  box-sizing: border-box;
  height: calc(100vh - 60px);
  padding-top: 15px;
  position: fixed;
  top: 60px;
  width: 100%;

  ul {
    margin: 0;
    padding: 0;

    li {
      margin: 0;
      padding: 0;

      a {
        border-bottom: 1px solid $primary-color;
        color: #000;
        display: block;
        padding: 0.5em 0;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
          color: $primary-color;
        }
      }
    }
  }
}

.alert {
  background-color: rgba( 252, 74, 66, 67);
  position: relative;
  z-index: 100;
}

.huge {
  background-color: $primary-color;
  box-sizing: border-box;
  border-left: 8px solid white;
  border-right: 8px solid white;
  border-top: 8px solid white;
  color: white;
  height: calc( 50vh - 30px );
  width: 100%;
  line-height: 1.1em;
  font-size: 4.4em;
  font-weight: 500;
  text-decoration: none;
  padding: 1em 0.5em;
  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction:column; /* column | row */

  &.about {
    font-size: 18px;
    width: 100% !important;
    min-height: calc(100vh - 60px);
    height: auto;
    text-align: left;

    p {
      display: block;
      margin: 0 auto 1em;
      max-width: 570px;
      text-align: left;

      &.conditional {
        font-size: 30px;
        line-height: 36px;
      }
    }
  }

  &.see {
    background-color: white;
    border-bottom: 8px solid;
    border-color: $primary-color;
    border-top: none;
    color: $primary-color;
  }

  a {
    color: white;
  }

  p {
    margin: 0 0 1em;
    padding: 0;
  }
}

.todo-container {
  font-family: 'Hind', sans-serif;
  position: relative;
  margin: 0;
  padding: 0;
  text-align: center;
}

.red {
  color: $primary-color;
}

.shadow {
  box-shadow: 0 0 30px 10px rgba(0,0,0,0.3);
}

.viewing.todo-container ,
.submiting.todo-container {
  .huge{
    font-size: 2em;
    height: 80px;
    width: 100% !important;

    &.see {
      background-color: $primary-color;
      border-color: #fff;
      color: #fff;
    }
  }
}

.todo-container .todo-title {
  cursor: pointer;
  margin: 0;
  padding: 1.25em 5px 0.85em;
  position: relative;
  font-weight: 500;
  background-color: #fff;
  font-size: 16px;
  color: #000;
  vertical-align: middle;
  z-index: 10;

  span {

    span {
      font-weight: bold;
    }
  }
}

.todo-container .todo-form {
  background-color: white;
  font-style: 14px;
  margin: 0px;
  padding: 2em 6em;
  text-align: left;

  label {
    display: block;
    padding-bottom: 1em;
  }

  ol {
    padding: 0;
    margin: 0;
    list-style-position: inside;

    li {

    }
  }

  .number-input {
    border: 1px solid $primary-color;
    width: 4.8em;
  }

  .text-input {
    border: 1px solid $primary-color;
  }
}

.todo-container input {
  border: none;
  border-bottom: 2px solid #ddd;
  font-size: 17px;
  padding: 5px 3px;
  width: 90%;
  box-sizing: border-box;
}

.todo-container input:focus {
  outline: 0;
}

.todo-container button {
  border-radius: 70px;
  padding: 10px 14px;
  font-weight: bold;
  color: #fff;
  background-color: $primary-color;
  cursor: pointer;
  border: 2px solid #ddd;
  font-size: 15px;
  transition: all .2s;
}

.todo-container button:focus,
.todo-container button:active {
  outline: none;
}

.todo-container button:disabled {
  opacity: .7;
  color: steelblue;
  background-color: #fff;
  cursor: not-allowed;
}

.todo-container .todo-error {
  border-bottom-color: #E22323;
}

.todo-container .todo-item {
  background-color: #fff;
  border-left: none;
  border-right: none;
  border-bottom: none;
  padding: 1em 5em 2em;
  border-bottom: 1px solid #ddd;
  text-align: left;

  h1 {
    font-size: 28px;
  }

  h2, h3, h4, h5 {
    font-size: 22px;
    font-weight: 500;
    line-height: 1.1em;
    margin: 0;
    padding: 0;
  }

  h3 {
    font-style: italic;
  }

  h5 {
    margin-bottom: 1em;
  }

  .art-holder {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin: 0  0 1em;
    padding: 0em 0;

    img {
      background: url(/todo/styles/img/load.gif) no-repeat 50% 50%;
      border: none;
      height: auto;
      width: auto;
      min-height: 55px;
      min-width: 55px;
      max-height: 70%;
      max-width: 70%;
      margin: 1em 0;
    }

    &#art-detail {
      background-image: url('/todo/styles/img/SFMOMA_ExhibitionView_1.jpg');
    }

    &#art-place {
      background-image: url('/todo/styles/img/SFMOMA_ExhibitionView_2.jpg');

      img {
        transform: scale(0.7);
      }    
    }
  }
}

@media screen and (orientation: landscape) {
  .huge {
    border-bottom: 8px solid white;
    float: left;
    height: calc( 100vh - 60px);
    width: 50%;

    &.see { 
      border-top: 8px solid $primary-color;
    }
  }
}

@media screen and (max-width:1024px) {
  .huge {
    font-size: 4.2em;
  }
}

@media screen and (max-width:720px) {
  .huge {
    font-size: 3.5em;
  }

  .todo-container .todo-form ,
  .todo-container .todo-item {
    padding: 2em 1em;
  }

  .viewing.todo-container ,
  .submiting.todo-container {
    .huge{
      font-size: 1.5em;
      line-height: 1.1em;
    }
  }
}

@media screen and (max-width:640px) {
  .huge {
    font-size: 2.2em;
  }
  .viewing.todo-container ,
  .submiting.todo-container {
    .huge{
      font-size: 1.3em;
      line-height: 1.1em;
    }
  }

  .todo-container {
    .todo-item {
      h1 {
        font-size: 24px;
      }
    }
  }
}

@media screen and (max-width:360px) {

}

@media screen and (min-width:1025px) {
  .huge {
    font-size: 6em;
  }
}